@import "tailwindcss";

@plugin '../../hero.ts'; /* This runs the heroui plugin */
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

:root {
  --color-primary: "#1F6B38";
  --color-primary-light: "#D6EFD8";
  --color-primary-dark: "#144B26";

  --color-secondary: "#6B7280";
  --color-secondary-light: "#f9fafb";
  --color-secondary-dark: "#1F2937";

  --color-danger: "#e53e3e";
}

@custom-variant dark (&:is(.dark *));
