@import "tailwindcss";

@theme {
  --color-primary: "#1F6B38";
  --color-primary-light: "#D6EFD8";
  --color-primary-dark: "#144B26";

  --color-secondary: "#6B7280";
  --color-secondary-light: "#f9fafb";
  --color-secondary-dark: "#1F2937";

  --color-danger: "#e53e3e";
}
